.login-lg{
    padding-top:50px;
    padding-bottom:50px;
    text-align:center;
}


.shaded {
    box-shadow: 0 1px 6px #cccccc;
    overflow: hidden;
    white-space: nowrap;
}

.margin-bottom-40{
    margin-bottom:90px;
}

.login-page, .register-page {
    background: #f3f3f5;
}

.login-box {
    margin: 5% auto;
}

.col-centered{
    margin:auto;
    float:none;
}

#custom-search-input{
    margin-bottom: 20px;
}

.didHide {
    display: none;
}



.super-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.light-shadow {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(206, 200, 200, 0.19);
}

.light-shadow-2 {
    box-shadow: 2px 1px 4px 0 rgba(0, 0, 0, 0.2), 2px 1px 3px 0 rgba(206, 200, 200, 0.19);
}

.super-index {
    z-index: 99999999;
}




.load-bar {
    position: relative;
    width: 100%;
    height: 6px;
    background-color: #ff827b;
}

.bar {
    content: "";
    display: inline;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
}

    .bar:nth-child(1) {
        background-color: #ff7a7a;
        animation: loading 3s linear infinite;
    }

    .bar:nth-child(2) {
        background-color: #fc5c5c;
        animation: loading 3s linear 1s infinite;
    }

    .bar:nth-child(3) {
        background-color: rgba(248, 87, 63, 0.98);
        animation: loading 3s linear 2s infinite;
    }

    .bar:nth-child(4) {
        background-color: #f42f2f;
        animation: loading 3s linear 2s infinite;
    }

@keyframes loading {
    from {
        left: 50%;
        width: 0;
        z-index: 100;
    }

    33.3333% {
        left: 0;
        width: 100%;
        z-index: 10;
    }

    to {
        left: 0;
        width: 100%;
    }
}

.loader-new {
    height: 6px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}

    .loader-new:before {
        display: block;
        position: absolute;
        content: "";
        left: -200px;
        width: 200px;
        height: 6px;
        background-color: #fc5c5c;
        animation: loading-new 2s linear infinite;
    }

@keyframes loading-new {
    from {
        left: -200px;
        width: 30%;
    }

    50% {
        width: 30%;
    }

    70% {
        width: 70%;
    }

    80% {
        left: 50%;
    }

    95% {
        left: 120%;
    }

    to {
        left: 100%;
    }
}



.formLoading {
    background: url("../images/red-loader.gif") no-repeat center;
    background-size: 120px;
    height: 100%;
}

.img-loader {
    background: url("../images/red-loader.gif") no-repeat right;
    background-size: 50px;
}

.form-submitted, .formInternetError {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}



.absoluteError {
    padding: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.absolutePanel {
    right: 0;
    top: 0;
    width: 100%;
    text-align: right;
    margin-right: -3px;
}

.ten-bottom-margin {
    margin-bottom: 10px;
}

.absolute {
    position: absolute;
    z-index: 6;
}


.formLoader {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, .7);
    z-index: 120;
    display: block;
}

.full-width {
    width: 100%;
}

.top-left {
    top: 0;
    left: 0;
}