﻿
<form action="@ViewBag.Url" method="get" class="form-inline pull-right" autocomplete="off">
    <input type="hidden" name="StartDate" value="@ViewBag.StartDate" />
    <input type="hidden" name="EndDate" value="@ViewBag.EndDate" />
    <button class="btn btn-success">
        <i class="fa fa-file-excel-o"></i>
        Export
    </button>
</form>